---
---

@import "{{ site.theme }}";

@media screen and (min-width: 961px) {
   .wrapper {
      width: min(1200px, calc(100% - 4rem));
   }

   header {
      width: 330px;
   }

   section {
      width: calc(100% - 380px);
   }
}

.profile-description {
   .skill-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.45rem;
      margin-top: 0.5rem;
      border-radius: 0.45rem;
      background: #abcadf;
      padding: 0.5rem;
   }

   .skill-tag {
      display: inline-block;
      padding: 0.3rem 0.65rem;
      border: 1px solid #d1d9e0;
      border-radius: 0.45rem;
      background: #75afd6;
      color: #36454f;
      font-size: 0.78rem;
      font-weight: 600;
      line-height: 1.2;
      white-space: nowrap;
      text-align: center;
   }
   .tech-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.45rem;
      margin-top: 0.5rem;
      border-radius: 0.45rem;
      background: #abdfc3;
      padding: 0.5rem;
   }

   .tech-tag {
      display: inline-block;
      padding: 0.3rem 0.65rem;
      border: 1px solid #d1d9e0;
      border-radius: 0.45rem;
      background: #2d945d;
      color: #323607;
      font-size: 0.78rem;
      font-weight: 600;
      line-height: 1.2;
      white-space: nowrap;
      text-align: center;
   }
}